<% content_for :section, :fields %>
<h1>Edition du plan <%= @field.filename %></h1>
<%= form_for @field, :as => :field, :url => admin_field_path do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :button => 'Modifier'} %>
<% end %>