<% content_for :section, :fields %>
<h1>Nouveau Terrain</h1>
<%= form_for @field, :as => :field, :url => admin_fields_path do |f| %>
  <%= render 'form',  :f => f, :button => 'Créer', :categories => @categories, :field => @field, :distant_fields => @distant_fields %>
<% end %>
