<% content_for :section, :maps %>
<h1>Edit map <%= @map.name %></h1>
<%= form_for @map, :as => :map, :url => admin_map_path do |f| %>
  <%= render 'form', :f => f, :button => 'Update', :map => @map, :fields => @fields %>
<% end %>
