<% content_for :section, :maps %>
<h1>Nouveau plan de jeux</h1>
<%= form_for @map, :as => :map, :url => admin_maps_path do |f| %>
  <%= render 'form', :locals => { :f => f, :button => 'Créer'} %>
<% end %>
