<% content_for :section, :players %>
<h1>Edit player <%= @player.name %></h1>
<%= form_for @player, :as => :player, :url => admin_player_path do |f| %>
  <%= render 'form', :f => f, :button => 'Update', :maps => @maps, :users => @users, :player => @player %>
<% end %>
