<% content_for :section, :players %>
<h1>Nouveau personnage</h1>
<%= form_for @player, :as => :player, :url => admin_players_path do |f| %>
  <%= render 'form' :f => f, :button => 'Créer' , :maps => @maps, :users => @users, :player => @player %>
<% end %>
